### Scripts to collect and process data

#### Import modules and set constants

In [1]:
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import requests

In [2]:
LEAGUE_CODE = 284342 
LEAGUE_STANDINGS_URL = 'https://fantasy.premierleague.com/api/leagues-classic/{}/standings/'.format(LEAGUE_CODE)

#### GW1

GW1 data was scrapped using Postman after GW1 ended - during GW2. This data will be used to extract initial player data, and GW1 results.

In [3]:
gw1_file = open(os.getcwd() + '/Raw_Data/gw1.json')
gw1_raw = json.load(gw1_file)
gw1_file.close()

Get player data from GW1 data:

In [4]:
players = pd.DataFrame(gw1_raw['standings']['results']).drop(columns = ['id', 'event_total', 'rank', 'last_rank', 'rank_sort', 'total']).set_index('entry').sort_values(by = 'player_name')
players.head()

               player_name           entry_name
entry
6411475      Aditya Balaji      love cesc dhoka
80353    Anish Bharatrajan              Hoeland
2522365      Kunal Agrawal    Expected Toulouse
1460606    Mayank Aggarwal        FalconRaiders
1478259    Moyukh Banerjee  Silvo's Berluscrony

In [5]:
players.to_csv(os.getcwd() + '/Data/player_data.csv')

Get GW1 data:

In [6]:
gw1_df = pd.DataFrame(gw1_raw['standings']['results']).drop(columns = ['id', 'rank', 'last_rank', 'rank_sort']).set_index('entry')

gw1_df['event_total'] = gw1_df['total'] - gw1_df['event_total']  # gw1 score = total score - gw2 score
gw1_df['total'] = gw1_df['event_total']  # re-assign total scores to 'current' score

gw1_df = gw1_df.sort_values(by = 'event_total', ascending = False)
gw1_df['rank'] = np.arange(len(gw1_df)) + 1

gw1_df

,event_total,player_name,total,entry_name,rank
entry,,,,,
80353,112,Anish Bharatrajan,112,Hoeland,1
6499681,108,Ranjib Rudra,108,ShawbertoSanchoddas,2
1478259,99,Moyukh Banerjee,99,Silvo's Berluscrony,3
5728251,97,dev maheshwari,97,The Mancunian way,4
8971,94,Pavan R,94,groÃŸ misconduct,5
173076,89,Shresht Shetty,89,MountingLoftusCheeks,6
3309014,87,Sudhanshu Srivastava,87,Finding Timo,7
3402797,87,Samar Dikshit,87,Pukki Party 3.0,8
1816400,80,Tanay Nayak,80,Toney De Nakhre,9
1460606,69,Mayank Aggarwal,69,FalconRaiders,10
3323765,65,Siddhant Sharma,65,horn e hugo,11
2522365,59,Kunal Agrawal,59,Expected Toulouse,12
955309,58,Sahil Shah,58,Cityzen Kane,13
6304707,57,Shreyan Datta Chakraborty,57,Bilbao Baggins,14
53549,57,Rajdeep Dasgupta,57,MethuSalah,15
6411475,56,Aditya Balaji,56,love cesc dhoka,16